<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Desktop Clock</Name>
    <Version>1.0.0</Version>
    <Title>Desktop Clock Installer</Title>
    <Publisher>rudissaar</Publisher>
    <StartMenuDir>Desktop Clock</StartMenuDir>
    <TargetDir>@HomeDir@/desktop-clock</TargetDir>
</Installer>
